.header {
    border-bottom: 1px solid var(--color-white-gray);

    .container {
        display: flex;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 768px;
        }
    }

    .navigation,
    .contact {
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
        }

        li {
            margin-left: 50px;
        }

        li:first-child {
            margin-left: 0;
        }

        .menu__link,
        .contact__link {
            display: block;
            font-style: normal;
            @include font(500, 14px, 16px, 0.02em);
            padding: 32px 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
            &:hover,
            &:focus,
            & svg:hover,
            & svg:focus {
                color: var(--color-blue);
                stroke: var(--color-blue);
                fill: var(--color-blue);
            }
        }
        
        .menu__link {
            color: var(--color-dark);
        }

        .contact__link {
            display: flex;
            align-items: center;
            color: var(--color-gray);

            @media screen and (min-width: 768px) and (max-width: 1199px) {
                @include font(500, 12px, 14px, 0.02em);
            }

            svg {
                margin-right: 10px;
                width: 16px;
                height: 16px;
                fill: var(--color-gray);
            }
        }
    }
    
    .contact {
        margin-left: auto;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            flex-direction: column;
        }

        li {

            @media screen and (min-width: 768px) and (max-width: 1199px) {
                margin-left: 0;
            }
        }

        .contact__link {
            @media screen and (min-width: 768px) and (max-width: 1199px) {
                padding: 10px 0;

                &:first-child {
                    padding-top: 15px;
                    padding-bottom: 0;
                }
            }

        }
    }

    .current {
        color: var(--color-blue);

        &::after {
            content: '';
            display: block;
            position: relative;
            top: 33px;
            width: 100%;
            height: 4px;
            background-color: var(--color-blue);
            border-radius: 3px;
        }
    }

    .menu-open-btn {
        margin-left: auto;
        background-color: transparent;
        border: none;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .mob-menu {
        position: fixed;
        top: 0;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding-top: 10px;
        padding-bottom: 48px;

        &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }

        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: auto;
        }
    }

    .menu-close-btn {
        margin-left: auto;
        background-color: transparent;
        border: none;
        display: block;

    }

    .menu-open-icon,
    .menu-close-icon {
        fill: var(--color-dark);
        transition: color 250ms fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        & svg:hover,
        & svg:focus {
            fill: var(--color-blue);
        }
    }
    
    .mob-menu__item:not(:last-child) {
        margin-bottom: 24px;
    }
    
    .mob-menu-list {
        margin-bottom: 64px;
    }

    .mob-menu__link {
        @include font(500, 40px, 47px, 0.02em);
        color: var(--color-dark);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--color-blue);
        }
    }
    
    .mob-contact {
        margin-bottom: 64px;

        .mob-contact__tel {
            @include font(500, 34px, 40px, 0.02em);
            text-transform: uppercase;
            
            color: var(--color-blue);
        }
    
        .mob-contact__mail {
            display: block;
            @include font(500, 24px, 28px, 0.02em);
            color: var(--color-gray);
            margin-top: 32px;
        }
    }

    
    .mob-soc {
        position: relative;
        display: flex;
        gap: 20px;
    }
    
    
    .mob-soc__item:not(:last-child) {
        margin-bottom: 24px;

        &::after {
            content: '';
            width: 1px;
            height: 22px;
            position: absolute;
            background-color: rgba(33, 33, 33, 0.2);
            top: 0;
            margin-left: 10px;
        }
    }

    .mob-soc__link {
        @include font(500, 18px, 22px, 0.02em);
        color: var(--color-blue);
    }
}
