:root {
    --color-blue: #2196F3;
    --color-black: #000;
    --color-white: #fff;
    --color-dark: #212121;
    --color-gray: #757575;
    --color-dark-gray: #2F303A;
    --color-white-gray: #F5F4FA;
    --color-light-blue: #188CE8;
    --color-light-gray: #EEEEEE;
    --color-gray2: #AFB1B8;

    --bg-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
